#mobile-controls {
  display: none;
}
#up div {
  width: 0;
  height: 0;
  border-left:    45px solid transparent;
  border-right:   45px solid transparent;
  border-bottom:  75px solid black;
}
#down div {
  width: 0;
  height: 0;
  border-left:    45px solid transparent;
  border-right:   45px solid transparent;
  border-top:  75px solid black;
}
#left div {
  width: 0;
  height: 0;
  border-top:    45px solid transparent;
  border-bottom:  45px solid transparent;
  border-right:   75px solid black;
}
#right div {
  width: 0;
  height: 0;
  border-top:    45px solid transparent;
  border-bottom:  45px solid transparent;
  border-left:   75px solid black;
}
.control-wrapper {
  border-radius: 8px;
  background-color: #2F2F2F;
  opacity: 0.7;
  width: 90px;
  height: 90px;
  cursor: pointer;
  margin-top: 10px;
}
.control-col {
  float: left;
}
.control-group {
  height: 240px;
  position: fixed;
  bottom: 50px;
}
.left-control {
  left: 30px;
}
.right-control {
  right: 30px;
}
#up, #down {
  padding: 15px 10px 5px 10px;
}
#right, #left {
  padding: 10px 5px 10px 15px;
}
